@font-face {
    font-family: Open sans;
    src: url(./fonts/OpenSans-Regular.ttf);
  }

  /* btn */
.btn{
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    width: fit-content;
    background-color: #021BFF;
    cursor: pointer;
    border: none;
    font-family: "Open sans";
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    transition: all ease-in 0.3s;
  }
  .btn:hover{
    background-color: #021bffbe;
  }
  .btneffect{
    padding: 12px 54px 12px 54px;
    font-weight: 550;
    box-shadow: 0px 6px 50px 0px #021BFF33;
}
/* responsive btn  */
@media (max-width:1027px) {
    .btn{
        padding: 8px 18px ;
        font-size: 1.8vw;
      }
}
/* +++++++++++++++++++++++++++++++++++++++++++++  */
/* title h2  */
#title h2{
    padding: 10px;
    font-weight: 590;
    font-size: 36px;
}
/* Responsive Title  */
@media (max-width:768px) {
    #title h2{
        padding: 3px;
        font-size: 30px;
    }
}
@media (max-width:490px) {
    #title h2{
        padding-bottom: 4px;
        font-size: 26px;
        font-weight: 600;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    height: 5908px;
    overflow-x: hidden;
    font-family: "Open sans";
}
nav{
    width: 100%;
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px 15px 100px;
}
#frame163{
    display: flex;
    /* width: 667px; */
    padding: 10px, 0px, 10px, 0px;
    gap: 48px;
}
#frame169{
    display: flex;
    align-items: center;
    height: 44px;
    gap: 10px;
    justify-content: space-between;
}
#frame169 li{
    list-style: none;
    padding: 10px;
}
#frame169 li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-family: "Open sans";
    color: #1B1C1E;
}
.active{
    font-weight: 600 !important;
    color: #021BFF !important;
}

/* responsive for navbar  */
@media (max-width: 1024px) {
    nav{
        padding: 15px 15px 15px 15px;
    }
    #frame163{
        gap: 24px;
    }
    #frame169 li{
        list-style: none;
        padding: 6px;
    }
    #frame169 li a{
        font-size: 18px;
    }
    .active{
        font-weight: 600 !important;
        color: #021BFF !important;
    }
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++  */

/* content on the website  */

/* heading section  */
header{
    height: fit-content;
    width: 100%;
    padding: 15px 0px 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
#intro{
    width: 50%;
    height: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgb(0, 255, 0); */
}
#text h1{
    font-size: 3vw;
    line-height: 3.5vw;
    font-weight: 600;
    color: #1F1F1F;
}
#text h1>span{
    color: #021BFF;
}
#graphic{
    position: relative;
    width: 50%;
    height: 600px;
}
#graphic>svg{
    position: absolute;
    z-index: 99;
}
#html{
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
}
#html img{
    width: 100%;
}
#idea{
    width: 130px;
    position: absolute;
    top: 0;
    right: 0;
}
#idea img{
    width: 100%;
}
#mortarboard{
    width: 120px;
    position: absolute;
    bottom: 0;
    left: 0;
}
#mortarboard img{
    width: 100%;
}
/* Responsive Heading Section  */
@media (max-width:1024px) {
    header{
        height: 50vw;
        padding: 0px 15px 20px 15px;
    }
    #intro{
        height: 25vw;
    }
    #text h1{
        font-size: 4vw;
        line-height: 4.8vw;
    }
    #html{
        width: 60px;
        top: 19%;
        left: -5%;
    }
    #idea{
        width: 70px;
        top: 19%;
    }
    #mortarboard{
        width: 80px;
        bottom: 14%;
    }

}
@media (max-width:765px) {
    #html{
        width: 50px;
        top: 30%;
        left: -6%;
    }
    #idea{
        width: 50px;
        top: 30%;
        right: 0;
    }
    #mortarboard{
        width: 50px;
        bottom: 30%;
        left: -10%;
    }
    #mortarboard img{
        width: 100%;
    }
}
@media (max-width:425px) {
    header{
        justify-content: right;
        padding-top: 20px;
        flex-wrap: wrap;
        height: fit-content;
    }
    #intro{
        width: 100%;
        height: 31vw;
    }
    #text h1{
        font-size: 5.8vw;
        line-height: 6.5vw;
    }
    #graphic{
        height: fit-content;
        padding-top: 30px;
    }
    #graphic>svg{
        position: relative;
        z-index: 99;
    }
    #html{
        width: 40px;
        position: absolute;
        top: 20px;
        left: -18px;
    }
    #idea{
        width: 50px;
        position: absolute;
        top: 20px;
        right: -10px;
    }

    #mortarboard{
        width: 50px;
        position: absolute;
        bottom: 0;
        left: -15%;
    }
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++  */

/* Explore Section  */
#explore{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 480px;
    width: 100%;
    padding: 40px 50px 40px 50px;
}
#content{
    height: 218px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 24px;
}
.elem{
    text-align: center;
}
#content .elem img{
    width: 94px;
    height: 94px;
    margin-bottom: 24px;
}
#content .elem p{
    font-size: 20px;
    font-weight: 600;
}
/* Responsive explore section  */
@media (max-width:1024px) {
    #explore{
        width: 100%;
        padding: 30px 15px;
        height: fit-content;
    }
    #content{
        height: fit-content;
        padding: 30px 0px 40px 0px;
    }
    #content .elem img{
        width: 64px;
        height: 64px;
        margin-bottom: 20px;
    }
    #content .elem p{
        font-size: 17px;
    }
}
@media (max-width:768px) {
    #explore{
        padding: 30px 15px 5px 15px;
    }
    #content{
        height: fit-content;
        padding: 30px 0px 40px 0px;
    }
    #content .elem img{
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }
    #content .elem p{
        font-size: 13px;
    }
}
@media (max-width:425px) {
    #content{
        padding: 19px 0px;
    }
    #content .elem img{
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
    }
    #content .elem p{
        font-size: 10px;
    }
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++  */
/* Course section  */
#courses{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 38px 100px 38px 100px;
    /* background-color: red; */
}
#courseContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    overflow-x: scroll;
    padding-block: 10px;
    margin-bottom: 20px;
    /* background-color: green; */
}
#courseContainer::-webkit-scrollbar{
    background-color: transparent;
    height: 3px;
}
#courseContainer::-webkit-scrollbar-thumb{
    background-color: blue;
}
#courseCard{
    height: 408px;
    width:397px;
    border: 1px solid #021BFF1A;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0px 10px 30px 0px #021BFF0D;
}
#Course-details h3{
    padding-block: 8px;
    font-size: 20px;
    line-height: 27.24px;
    font-weight: 600;
}
#Course-details p{
    font-size: 14px;
    font-weight: 400;
    color:#1B1C1ECC;
}
#Course-addon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.course_duration{
    display: flex;
    align-items: center;
    gap: 10px;
}
.course_duration span{
    font-size: 16px;
    font-weight: 600;
    color: #06AC8B;
}
.read_more{
    color: #021BFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
/* Responsive Courses section  */
@media (max-width:1024px) {
    #courses{
        padding: 38px 15px ;
        /* background-color: red; */
    }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++  */
#company{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 38px 100px 38px 100px;
    /* background-color: red; */
}
#company_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Responsive of Company  */
@media (max-width:1027px) {
    #company{
        padding: 38px 15px 38px 15px;
        /* background-color: red; */
    }
    #company_container img{
        width: 150px;
    }
}
@media (max-width:768px) {
    #company{
        padding: 28px 15px;
    }
    #company_container img{
        width: 100px;
    }
}
@media (max-width:425px) {
    #company_container{
        flex-wrap: wrap;
        justify-content: start;
    }
    #company_container img{
        width: 80px;
    }
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  */
/* review section  */
#review{
    height: 587px;
    width: 100%;
    padding: 40px 100px 40px 100px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++  */
/* Blog Section  */
#blog{
    height: 835px;
    width: 100%;
    padding: 48px 100px 48px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: #06AC8B; */
}
#blogContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: antiquewhite; */
}
#blogCard1 img{
    width: 100%;
    border-radius: 8px;
}
#blogCard1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 522px;
    width: 42%;
    border: 1px solid #021BFF26;
    box-shadow: 0px 4px 40px 0px #021BFF0D;
    padding: 24px 32px 24px 32px;
    border-radius: 10px;

}
#blogCard2{
    min-height: 522px;
    height: fit-content;
    width: 57%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

}
#card2Blog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 230px;
    height: fit-content;
    padding: 20px 24px 20px 24px;
    border-radius: 8px;
    border: 1px solid #021BFF26;
}
#card2Blog img{
    height: 50%;
    border-radius: 8px;
}
#blogTitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#blogTitle #text{
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
#blogTitle #date{
    font-weight: 600;
    font-size: 16px;
    color: #021BFF;
    text-align: center;
}
#blogContent h2{
    padding-bottom: 10px;
    font-size: 20px;
}
#blogContent p{
    font-size: 14px;
    color: #121212CC;
}
#blogContent .more{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #06AC8B;
}
#wrapper{
    display: flex;
    gap: 10px;
}
.more-link{
    border-bottom: 1.6px solid #06AC8B;
}
/* Responsive Blogs  */
@media (max-width:1024px) {
    #blog{
        height: fit-content;
        padding: 48px 15px ;
    }
    #blogContent{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    #blogCard1{
        min-width: 380px;
        padding: 15px 20px;
    }
    #blogCard2{
        min-height: 522px;
        height: fit-content;
        max-width: 490px;
    }
    #card2Blog{
        min-height: 230px;
        height: fit-content;
        padding: 15px 20px;
    }
}
@media (max-width:900px) {
    #blogCard1{
        min-width: 100%;
        height: fit-content;
        margin-bottom: 10px;
    }
    #blogCard2{
        min-height: 522px;
        height: fit-content;
        max-width: 100%;
        width: 100%;
        gap: 0px;
    }
    #card2Blog{
        min-height: 230px;
        width: 100%;
        height: fit-content;
    }
}
@media (max-width:425px) {
    #card2Blog{
        margin-block: 10px;
    }
    #card2Blog img{
        height: 50%;
        width: 100%;
    }
    #blogTitle{
        padding-block: 10px;
    }
    #wrapper{
        flex-direction: column;
    }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++  */
