@font-face {
    font-family: Open sans;
    src: url(./fonts/OpenSans-Regular.ttf);
  }

  /* btn */
.btn{
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    width: fit-content;
    background-color: #021BFF;
    cursor: pointer;
    border: none;
    font-family: "Open sans";
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    transition: all ease-in 0.3s;
  }
  .btn:hover{
    background-color: #021bffbe;
  }
  .btneffect{
    padding: 12px 54px 12px 54px;
    font-weight: 550;
    box-shadow: 0px 6px 50px 0px #021BFF33;
}
/* responsive btn  */
@media (max-width:1027px) {
    .btn{
        padding: 8px 18px ;
        font-size: 1.8vw;
        height: fit-content;
      }
}
@media (max-width:425px) {
    .btn{
        padding: 8px 18px ;
        font-size: 2.5vw;
      }
}
/* +++++++++++++++++++++++++++++++++++++++++++++  */
/* title h2  */
#title h2{
    padding: 10px;
    font-weight: 590;
    font-size: 36px;
}
/* Responsive Title  */
@media (max-width:768px) {
    #title h2{
        padding: 3px;
        font-size: 30px;
    }
}
@media (max-width:490px) {
    #title h2{
        padding-bottom: 4px;
        font-size: 21px;
        font-weight: 600;
    }
}
@media (max-width:425px) {
    .resbtn{
        margin-top: 12px;
        font-size: 12px;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    overflow-x: hidden;
    font-family: "Open sans";
}
body::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background-color: #021BFF;
}
nav{
    width: 100%;
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px 15px 100px;
}
#frame161{
    width: 147px;
    height: 68px;
}
#frame163{
    display: flex;
    /* width: 667px; */
    padding: 10px, 0px, 10px, 0px;
    gap: 48px;
}
#frame169{
    display: flex;
    align-items: center;
    height: 44px;
    gap: 10px;
    justify-content: space-between;
}
#frame169 li{
    list-style: none;
    padding: 10px;
}
#frame169 li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-family: "Open sans";
    color: #1B1C1E;
}
.active{
    font-weight: 600 !important;
    color: #021BFF !important;
}
.mobile-navbar-btn{
    cursor: pointer;
    display: none;
}
.mobile-nav-icon{
    font-size: 29px;
}
.fa-xmark{
    display: none;
}

/* responsive for navbar  */
@media (max-width: 1024px) {
    nav{
        padding: 15px 15px 15px 15px;
    }
    #frame163{
        gap: 24px;
    }
    #frame169 li{
        list-style: none;
        padding: 6px;
    }
    #frame169 li a{
        font-size: 18px;
    }
    .active{
        font-weight: 600 !important;
        color: #021BFF !important;
    }
}
@media (max-width:726px) {
    nav{
        position: relative;
    }
    #frame161{
        z-index: 99999;
    }
    #frame169{
        flex-direction: column;
        justify-content: space-evenly; 
    }
    #frame169 li a{
        font-size: 20px;
        font-weight: 600;
    }
    .mobile-navbar-btn{
        display: block;
        z-index: 99999;
    }
    #frame163{
        width: 100%;
        height: 100vh;
        background-color: #dadada;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 130px;
        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .active #frame163{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    .active .mobile-navbar-btn .fa-bars{
        display: none;
    }
    .active .fa-xmark{
        display: block;
    }
}
@media (max-width:425px) {
    #frame161{
        width: 120px;
        /* height: 68px; */
    }
    .fa-bars{
        font-size: 25px;
    }
    .fa-xmark{
        font-size: 35px;
    }
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++  */

/* content on the website  */

/* heading section  */
header{
    height: fit-content;
    width: 100%;
    padding: 15px 0px 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#intro{
    width: 50%;
    height: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#text h1{
    font-size: 3vw;
    line-height: 3.5vw;
    font-weight: 600;
    color: #1F1F1F;
}
#text h1>span{
    color: #021BFF;
}
#graphic{
    position: relative;
    width: 50%;
    height: 600px;
}
#graphic>svg{
    position: absolute;
    z-index: 99;
}
#html{
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
}
#html img{
    width: 100%;
}
#idea{
    width: 130px;
    position: absolute;
    top: 0;
    right: 0;
}
#idea img{
    width: 100%;
}
#mortarboard{
    width: 120px;
    position: absolute;
    bottom: 0;
    left: 0;
}
#mortarboard img{
    width: 100%;
}
/* Responsive Heading Section  */
@media (max-width:1024px) {
    header{
        height: 50vw;
        padding: 0px 15px 20px 15px;
    }
    #intro{
        height: 25vw;
    }
    #text h1{
        font-size: 4vw;
        line-height: 4.8vw;
    }
    #html{
        width: 60px;
        top: 19%;
        left: -5%;
    }
    #idea{
        width: 70px;
        top: 19%;
    }
    #mortarboard{
        width: 80px;
        bottom: 14%;
    }

}
@media (max-width:765px) {
    #html{
        width: 50px;
        top: 30%;
        left: -6%;
    }
    #idea{
        width: 50px;
        top: 30%;
        right: 0;
    }
    #mortarboard{
        width: 50px;
        bottom: 30%;
        left: -10%;
    }
    #mortarboard img{
        width: 100%;
    }
}
@media (max-width:425px) {
    header{
        justify-content: right;
        padding-top: 6px;
        flex-wrap: wrap;
        height: fit-content;
    }
    #intro{
        width: 100%;
        height: 35vw;
    }
    #text h1{
        font-size: 5.8vw;
        line-height: 7vw;
    }
    #graphic{
        height: fit-content;
        padding-top: 30px;
    }
    #graphic>svg{
        position: relative;
        z-index: 99;
    }
    #html{
        width: 40px;
        position: absolute;
        top: 50px;
        left: -78px;
    }
    #idea{
        width: 50px;
        position: absolute;
        top: 87px;
        left: -85%;
    }

    #mortarboard{
        width: 60px;
        position: absolute;
        bottom: 4%;
        left: -49%;
    }
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++  */

/* Explore Section  */
#explore{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 480px;
    width: 100%;
    padding: 40px 50px 40px 50px;
}
#content{
    height: 218px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 24px;
}
.elem{
    text-align: center;
}
#content .elem img{
    width: 94px;
    height: 94px;
    margin-bottom: 24px;
}
#content .elem p{
    font-size: 20px;
    font-weight: 600;
}
/* Responsive explore section  */
@media (max-width:1024px) {
    #explore{
        width: 100%;
        padding: 30px 15px;
        height: fit-content;
    }
    #content{
        height: fit-content;
        padding: 30px 0px 40px 0px;
    }
    #content .elem img{
        width: 64px;
        height: 64px;
        margin-bottom: 20px;
    }
    #content .elem p{
        font-size: 17px;
    }
}
@media (max-width:768px) {
    #explore{
        padding: 30px 15px 5px 15px;
    }
    #content{
        height: fit-content;
        padding: 30px 0px 40px 0px;
    }
    #content .elem img{
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }
    #content .elem p{
        font-size: 13px;
    }
}
@media (max-width:425px) {
    #content{
        padding: 19px 0px;
    }
    #content .elem img{
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
    }
    #content .elem p{
        font-size: 10px;
    }
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++  */
/* Course section  */
#courses{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 38px 100px 38px 100px;
}
#courseContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    overflow-x: scroll;
    padding-block: 10px;
    margin-bottom: 20px;
}
#courseContainer::-webkit-scrollbar{
    background-color: transparent;
    height: 3px;
}
#courseContainer::-webkit-scrollbar-thumb{
    background-color: blue;
}
#courseCard{
    height: 408px;
    width:397px;
    border: 1px solid #021BFF1A;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0px 10px 30px 0px #021BFF0D;
}
#Course-details h3{
    padding-block: 8px;
    font-size: 20px;
    line-height: 27.24px;
    font-weight: 600;
}
#Course-details p{
    font-size: 14px;
    font-weight: 400;
    color:#1B1C1ECC;
}
#Course-addon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.course_duration{
    display: flex;
    align-items: center;
    gap: 10px;
}
.course_duration span{
    font-size: 16px;
    font-weight: 600;
    color: #06AC8B;
}
.read_more{
    color: #021BFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
/* Responsive Courses section  */
@media (max-width:1024px) {
    #courses{
        padding: 38px 15px ;
    }
}
@media (max-width:768px) {
    #courseCard{
        height: fit-content;
        width:fit-content;
    }
    #courseCard>img{
        width: 240px;
    }
    #Course-details h3{
        font-size: 17px;
        line-height: 1;
    }
    #Course-details p{
        font-size: 13px;
    }
    #Course-addon{
        margin-top: 10px;
    }
    .course_duration{
        gap: 5px;
    }
    .course_duration img{
        width: 19px;
    }
    .course_duration span{
        font-size: 14px;
    }
    .read_more{
        font-size: 14px;
    }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++  */
#company{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 38px 100px 38px 100px;
}
#company_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Responsive of Company  */
@media (max-width:1027px) {
    #company{
        padding: 38px 15px 38px 15px;
    }
    #company_container img{
        width: 150px;
    }
}
@media (max-width:768px) {
    #company{
        padding: 28px 15px;
    }
    #company_container img{
        width: 100px;
    }
}
@media (max-width:425px) {
    #company_container{
        flex-wrap: wrap;
        justify-content: start;
    }
    #company_container img{
        width: 80px;
    }
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  */
/* Swapper css code  */
.swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: left;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* review section  */
#review{
    height: fit-content;
    width: 100%;
    padding: 40px 100px 20px 100px;
    /* background-color: #008E85; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#review_container{
    width: 100%;
    height: fit-content;
    margin-block: 20px;
    /* background-color: #021BFF; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow-x: scroll;
    padding-bottom: 10px;
}
#review_container::-webkit-scrollbar{
    height: 4px;
    background-color: transparent;
}
#review_container::-webkit-scrollbar-thumb{
    background-color: #008E85;
}
#review_card{
    width: 60%;
    height: fit-content;
    /* background-color: antiquewhite; */
    padding: 50px 30px;
    border: 4px solid #021BFF;
    border-radius: 15px;
}
#review_card .card_top{
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: start;
}
#review_card .card_top img{
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(2, 27, 255, 0.8) 0%, rgba(6, 172, 139, 0.8) 58.85%);
    padding: 8px;
}
.card_bottom_ratings{
    margin-bottom: 10px;
    margin-top: 5px;
}
.card_bottom p{
    font-size: 16px;
    font-weight: 400;
    font-family: "gilroy";
}
/* Responsive reviews  */
@media (max-width:1024px) {
    #review{
        padding: 40px 15px;
        width: 100%;
    }
    #review_container{
        width: 100%;
    }
    #review_card{
        width: 448px;
        height: 331px;
    }
}
@media (max-width:768px) {
    #review_card{
        width: 100%;
    }
    #review{
        justify-content: center;
        align-items: center;
    }
    #review_container{
        padding-inline: 10px;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:425px) {
    #review{
        padding: 40px 15px 10px 15px;
    }
    #review_card{
        padding: 10px 20px;
        margin-top: 10px;
        margin-bottom: 30px;
        border: 3px solid #021BFF;
        border-radius: 9px;
        height: fit-content;
        width: 80%;
    }
    #review_card .card_top{
        gap: 10px;
    }
    #review_card .card_top h2{
        font-size: 20px;
    }
    #review_card .card_top h5{
        font-size: 10px;
    }
    #review_card .card_top img{
        width: 80px;
        padding: 4px;
    }
    .card_bottom_ratings{
        margin-bottom: 6px;
        margin-top: 3px;
    }
    .card_bottom_ratings img{
        width: 20px;
    }
    .card_bottom p{
        font-size: 12px;
    }
    .swiper-button-next, .swiper-button-prev{
        width: 4px;
    }
    .swiper-slide {
        font-size: 10px;
      }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++  */
/* Blog Section  */
#blog{
    height: 835px;
    width: 100%;
    padding: 48px 100px 48px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#blogContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#blogCard1 img{
    width: 100%;
    border-radius: 8px;
}
#blogCard1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 522px;
    width: 42%;
    border: 1px solid #021BFF26;
    box-shadow: 0px 4px 40px 0px #021BFF0D;
    padding: 24px 32px 24px 32px;
    border-radius: 10px;

}
#blogCard2{
    min-height: 522px;
    height: fit-content;
    width: 57%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

}
#card2Blog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 230px;
    height: fit-content;
    padding: 20px 24px 20px 24px;
    border-radius: 8px;
    border: 1px solid #021BFF26;
}
#card2Blog img{
    height: 50%;
    border-radius: 8px;
}
#blogTitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#blogTitle #text{
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
#blogTitle #date{
    font-weight: 600;
    font-size: 16px;
    color: #021BFF;
    text-align: center;
}
#blogContent h2{
    padding-bottom: 10px;
    font-size: 20px;
}
#blogContent p{
    font-size: 14px;
    color: #121212CC;
}
#blogContent .more{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #06AC8B;
}
#wrapper{
    display: flex;
    gap: 10px;
}
.more-link{
    border-bottom: 1.6px solid #06AC8B;
}
/* Responsive Blogs  */
@media (max-width:1024px) {
    #blog{
        height: fit-content;
        padding: 48px 15px ;
    }
    #blogContent{
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    #blogCard1{
        min-width: 380px;
        padding: 15px 20px;
    }
    #blogCard2{
        min-height: 522px;
        height: fit-content;
        max-width: 490px;
    }
    #card2Blog{
        min-height: 230px;
        height: fit-content;
        padding: 15px 20px;
    }
}
@media (max-width:900px) {
    #blogCard1{
        min-width: 100%;
        height: fit-content;
        margin-bottom: 10px;
    }
    #blogCard2{
        min-height: 522px;
        height: fit-content;
        max-width: 100%;
        width: 100%;
        gap: 0px;
    }
    #card2Blog{
        min-height: 230px;
        width: 100%;
        height: fit-content;
    }
}
@media (max-width:475px) {
    #blogContent{
       padding-top: 20px;
    }
    #card2Blog{
        margin-block: 10px;
        align-items: center;
    }
    #card2Blog img{
        width: 60%;
    }
    #blogTitle{
        padding-block: 10px;
    }
    #blogTitle #text{
        font-size: 13px;
    }
    #blogTitle #date{
        font-size: 13px;
    }
    #blogDescription h2{
        margin-top: 9px;
        font-size: 18px;
    }
    #blogDescription p{
        font-size: 12px;
    }
    #blogTitle h3{
        font-size: 14px;
    }
    #wrapper{
        flex-direction: column;
    }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++  */
/* Counts Section  */
#counts{
    height: 230px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 24px;
}
#countIteam{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 210px;
    height: 133px;
    border-radius: 20px 0px 20px 0px;
    font-weight: 600;
}
#countIteam::after{
    content: "";
    width: 100%;
    height: 130%;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
    border-radius: 20px 0px 20px 0px;
}
.aftColor1{
    background-color: #FFD5DF;
    border: 1px solid #FF537D;
}
.aftColor2{
    background-color: #BFF5F2;
    border: 1px solid #008E85;
}
.aftColor3{
    background-color: #DFCEFB;
    border: 1px solid #8B45FF;
}
.aftColor4{
    background-color: #FFF5D1;
    border: 1px solid #FFC900;
}
/* Responsive count section  */
@media (max-width:640px) {
    #counts{
        flex-wrap: wrap;
        height: fit-content;
    }
    #countIteam{
        min-width: 150px;
    }
}
@media (max-width:425px) {
    #countIteam{
        width: 85%;
        height: 100px;
    }
    #countIteam h2{
        font-size: 20px;
    }
    #countIteam p{
        font-size: 15px;
    }
}
/* ++++++++++++++++++++++++++++++++++++++++++  */
/* Contact Section  */
#contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 48px 100px 48px 100px;
    /* background-color: rebeccapurple; */
}
#Contact-details{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 678px;
    height: 457px;
}
#bottom{
    padding-left: 50px;
}
#center p{
    color: #1B1C1EB2;
    font-size: 24px;
    font-weight: 600;
}
#bottom li{
    padding-block: 8px;
    font-weight: 600;
    font-size: 24px;
}
#Contact-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 515px;
}
.inputBox{
    border: 1px solid #808080;
    width: 387px;
    padding: 8px 12px 8px 12px;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 7px;
}
.inputBox input{
    border: none;
    outline: none;
    background-color: transparent;
    padding-inline: 8px;
    width: 90%;
}
input::placeholder{
    font-size: 16px;
}
.form-field label{
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.formbtn{
    margin-top: 25px;
}
@media (max-width:1024px) {
    #contact{
        flex-wrap: wrap;
        gap: 50px;
        padding: 48px 15px;
    }
    .formbtn{
        margin-top: 18px;
        font-size: 16px;
    }
}
@media (max-width:425px) {
    #Contact-details{
        width: 100%;
        height:fit-content;
    }
    #center p{
        font-size: 15px;
        padding-block: 12px;
    }
    #bottom{
        padding-left: 20px;
    }
    #bottom li{
        padding-block: 4px;
        font-size: 15px;
    }
    #top h1{
        font-size: 24px;
    }
    #top h2{
        font-size: 18px;
    }
    #Contact-form{
        align-items: start;
        width: 100%;
    }
    .inputBox{
        width: 120%;
    }
    .inputBox input{
        max-width: 80%;
    }
    input::placeholder{
        font-size: 14px;
    }
    .form-field label{
        font-size: 15px;
    }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++  */
/* Subscribe Section  */
#subscribe{
    min-height: 510px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px 34px;
}
#subscribe_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 430px;
    padding: 26px 34px ;
    border-radius: 0.5px 0.5px 3px 3px;
    border: 1px solid #021BFF;
    box-shadow: 0px 3px 0px 0px #021BFF;
}
.subscribe-Info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.subscribe-Info-text h2{
    color: #1B1C1E;
    font-size: 40px;
}
.subscribe-Info-text h3{
    color: #1B1C1EB2;
    font-size: 24px;
}
.subscribe-Info input{
    border: 1px solid #808080;
    padding: 18px 145px 18px 24px;
    border-radius: 10px;
}
/* Responsive Subscribe  */
@media (max-width:1024px) {
    #subscribe_card img{
        width: 200px;
    }
    #subscribe_card{
        flex-direction: column;
        gap: 10px;
        height: fit-content;
    }
    .subscribe-Info{
        gap: 30px;
        height: 100%;
    }
}
@media (max-width:760px) {
    #subscribe{
        padding: 15px 15px;
    }
    #subscribe_card img{
        width: 150px;
    }
    .subscribe-Info-text h2{
        font-size: 25px;
    }
    .subscribe-Info-text h3{
        font-size: 14px;
    }
}
@media (max-width:390px) {
    #subscribe{
        min-height: 370px;
        padding: 0px 15px 0px 15px;
    }
    #subscribe_card img{
        width: 130px;
    }
    #subscribe_card{
        padding: 25px 12px ;
    }
    .subscribe-Info-text h2{
        font-size: 20px;
    }
    .subscribe-Info-text h3{
        font-size: 13px;
    }
    .subscribe-Info input{
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
    }
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++  */
/* footer section  */
footer{
    min-height: 510px;
    width: 100%;
    padding: 40px 0px 40px 0px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
#upper_footer{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    min-height: 368px;
    background-color: #000F9A;
    padding: 56px 100px 56px 100px;
}
#upper_footer h2{
    color: #06AC8B;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 13px;
}
#upper_footer ul li{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    padding-left: 15px;
    list-style: none;
    padding-block: 4px;
}
#course_connect{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#course_connect h1{
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    font-family: 'gilroy';

}
.social-img{
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
}
.social-img img{
    width: 50px;
    border: 3.5px solid white;
    border-radius: 50%;
    padding: 6px;
}
#lower_footer p{
    color: #1B1C1E;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
/* Responsive footer  */
@media (max-width:1024px) {
    footer{
        padding: 40px 0px 40px 0px;
    }
    #upper_footer{
        gap: 20px;
        flex-wrap: wrap;
        padding: 56px 15px 56px 15px;
    }
}
@media (max-width:768px) {
    #upper_footer{
        column-gap: 100px;
        margin-bottom: 20px;
    }
    #upper_footer h2{
        font-size: 20px;
        margin-bottom: 5px;
    }
    #upper_footer ul li{
        font-size: 16px;
    }
    #course_connect{
        min-height: 130px;
    }
    #course_connect h1{
        color: #ffffff;
        font-size: 32px;
    
    }
    .social-img img{
        width: 45px;
        padding: 4px;
    }
    #lower_footer p{
        font-size: 13px;
    }
}
@media (max-width:425px) {
    #upper_footer h2{
        font-size: 18px;
        margin-bottom: 5px;
    }
    #upper_footer ul li{
        font-size: 15px;
    }
    #course_connect{
        min-height: 130px;
    }
    #course_connect h1{
        color: #ffffff;
        font-size: 29px;
    
    }
    .social-img img{
        width: 42px;
        padding: 3px;
    }
    #lower_footer p{
        font-size: 13px;
        font-family: sans-serif;
    }
}

/* Ellipse  */
#ellipse1{
    width: 331px;
    height: 331px;
    border-radius: 50%;
    background: linear-gradient(220.23deg, rgba(255, 255, 255, 0.2) 21.31%, rgba(255, 255, 255, 0) 77.09%);
    position: absolute;
    top: -10%;
    left: -1%;
    transform: rotate(130deg);

}
#ellipse2{
    width: 331px;
    height: 331px;
    border-radius: 50%;
    background: linear-gradient(220.23deg, rgba(255, 255, 255, 0.2) 21.31%, rgba(255, 255, 255, 0) 77.09%);
    position: absolute;
    right: -16%;
    bottom: 0;
    transform: rotate(180deg);
}



